@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* ----- -----  Estilos para el cuerpo ----- ----- */
.bodyform {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../Imagenes/frutas.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin:  0;
  padding:  0;

}
/* ----- -----  Parallax ----- ----- */
.bodyindex{
  width: 100%;
  font-family: 'lato';
}

section{
  width: 100%;
  height: 100%;
  margin:  0;
  padding:  0;
}

.parallax-completo{
  width: 100%;
    height:100vh;
    background: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
  font-weight: 300;
  font-size: 45px
}

.tituloimagen{
  color: #fff;
}

.interior{
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.center{
  max-width: 1100px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.espacio{
  padding: 30px 0 60px 0;
}

.espacio h2{
  text-align: center;
  padding: 30px;
}

.espacio p{
  text-align: justify;
}

.parallax-chico{
  height: 600px;
  background-image: url(../Imagenes/productor.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.parallax-chico h2{
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

.texto{
  background: #0b0650;
  height:190px;
}

.texto h2{
  text-align: center;
  color: #000;
  display: flex;
  height:inherit;
  justify-content: center;
  align-items: center;
}

/* ----- -----  Barra lateral derecho cuando los formualrios son largos  ----- ----- */
.formulario::-webkit-scrollbar {
	width: 10px;
}

.formulario::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 5px;
}
/* ----- -----  Estilos para borde de boton ----- ----- */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ----- -----  Estilos para barra de menu ----- ----- */
nav{
    display: flex;
    height: 60px;
    width: 100%;
    background: #0b0650;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
/* ----- -----  Estilos para logo derecho navbar ----- ----- */
nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #111;
    background: #fff;
}
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
/* ----- -----  Estilos navbar ----- ----- */
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
}
/* ----- -----  Estilos para formularios ----- ----- */
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 20px;
    padding: 5px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #0b0650;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #0b0650;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
.gallery-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100%px;
  padding: 30px;
  grid-gap: 10px;
}
.gallery__item{
  position: relative;
}
.gallery__img{
  width: 93%;
  height: 70%;
  object-fit: cover;
}
.gallery__title{
  bottom:  0;
  color: #000;
  background: linear-gradient(rgba(255,255,255,1),rgba(0,0,0,0.6));
  width: 91%;
  margin:  10px;
}
.gallery-item:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.6);
}
@media (min-width:768px){
  .gallery-container{
    grid-auto-columns: repeat(2,1fr);
  }
}
@media (min-width:1024px){
  .gallery-container{
    grid-auto-columns: repeat(3,1fr);
    width: 93%;
    margin: auto;
  }
}


/* pie de pagina
-------------------------------------------------------------------*/
.footer{
  align-self: flex-end;
  background: #0b0650;
  line-height: 3;
  width: 100%;
  position: fixed;
  height: 50px;
  bottom: 0%;
  color: #fff;
}

#footer-column-container {
  widows: 50px;
  clear:both;
  font-family: 'Comic Sans MS';
  }
  .footer-column {
  margin: 4px 0 0 0;
  padding: 10px;
  }

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 30px;
        border-radius: 5%;
    }
    .p{
      margin: auto;
      width: 500px;
      margin-top: 10px;
    }
}



























